<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de PIs</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">
        <div class="header">
            <div class="col">Name</div>
            <div class="col">Details</div>
            <div class="col">Actions</div>
        </div>
        <div class="data-list-points">
            <% pis.forEach(pi => { %>
                <div class="row">
                    <div class="col"><%= pi.name %></div>
                    <div class="col"><%= pi.details %></div>
                    <div class="col">
                        <a href="/api/interest/delete/<%= pi._id %>"><button class="delete pc">Delete</button></a>                        
                    </div>
                    <div class="col">
                        <button class="delete mobile">Delete</button>
                        <button>Edit</button>
                    </div>
                </div>            
            <% }) %>
        </div>
    </div>

    <div class="pis">
        <% pis.forEach(pi => { %>
            
        <% }) %>
    </div>
</body>
</html>