<div class="header-global">
    <h1>Pontos de Interesses</h1>
</div>
<div class="actions">
    <button onclick='location.href="/api/listAll"'>Lista de PIs</button>
    <button onclick='location.href="/api/createPI"'>Criar PI</button>
</div>