<div class="container">

    <h2>Teste<h2>
    <form action="/api/interest"
        method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="details" name="details">
        <!-- <input type="text" placeholder="placeholder03" name="name03"> -->
        <button type="submit">Submit</button>
    </form>
</div>