<div class="container">
    <table>
        <tr>
            <th>Login</th>
            <th>Senha</th>
            <th colspan="2"></th>
        </tr>
        
        <% users.forEach(user => { %>
        
        <tr>
            <td><%= user.login %></td>
            <td><%= user.password %></td>
            <td><a href="/api/userEdit/<%= user._id %>">Editar</a></td>
            <td><a href="/api/userDelete/<%= user._id %>">Excluir</a></td>
        </tr>
    
        <% }) %> 
    </table>
</div>