<div class="login">
    <div class="container">
        <form action="/api/home" method="GET">
            <table>    
                <tr>
                    <td>Login</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Entrar"></td>
                </tr>
            </table>
        </form>
    </div>
</div>