<table>    
    <tr>
        <td>Login</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password"></td>
    </tr>
    <tr>
        <td colspan="2"><a href="#">Esqueceu a senha?</a></td>
    </tr>
    <tr>
        <td><a href="#">Entrar</a></td>
        <td><a href="#">Cadastrar-se</a></td>
    </tr>
</table>