<div class="container">
    <form action="/api/user" method="post">
        <table>    
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Login</td>
                <td><input type="text" name="login"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><a href="/api/usersList">Cancelar</a></td>
                <td><input type="submit" value="Cadastrar"></td>
            </tr>
        </table>
    </form>
</div>